.fancybox-margin{
	margin-right:17px;
}

/* Evelyn */
.main-menu{
	text-align:center;
}
.containerLeft{
	float: left;
	text-align:left;
	width:20%;
}
.containerRight{
	float: left;
}
.btnCenter{
	text-align: center;
}
/* */

.barraMuro{
	border-style: none;
	/*border: black 3px solid;*/
}

